In [3]:
import pandas as pd
import numpy as np

In [4]:
fileName = '../data/dataset50a.csv'

data = pd.read_csv(fileName)

In [5]:
data.head()

         x1      x2      x3  p_a  fc  y
0  0.022088 -3.5566 -2.7576    1  50  2
1  0.021486 -3.0234 -2.9119    1  50  2
2  0.007707 -7.5911 -2.6612    1  50  4
3  0.008085 -7.3569 -2.9741    1  50  4
4  0.005357 -8.7731 -2.8638    1  50  5